<template>
  <div>
    <label>
      Team1
      <input id="team-one" @input="setTeamOneName($event.target.value)">
    </label>
    <label>
      Team2
      <input id="team-two" @input="setTeamTwoName($event.target.value)">
    </label>
    <div class="doc button">tere</div>
    <router-link to="/game" target="_blank">Go to Yahoo</router-link>
  </div>
</template>

<script>
  import SystemInformation from './LandingPage/SystemInformation'
  import {mapActions} from 'vuex'

  export default {
    name: 'landing-page',
    components: { SystemInformation },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      routeTo(){
        this.$router.push('/game')
      },
      ...mapActions(['setTeamOneName', 'setTeamTwoName'])
    }
  }
</script>

<style>

</style>
