<template>
  <div>
      {{ $store.state.Counter.main }}
    <label>
      Team1
      <input id="team-one" @input="setTeamOneName($event.target.value)">
    </label>
    <label>
      Team2
      <input id="team-two" @input="setTeamTwoName($event.target.value)">
    </label>
    <div @click="test()" class="doc button">tere</div>
    <router-link to="/game" target="_blank">Go to Yahoo</router-link>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "admin-view",
  methods: {
    ...mapActions('Counter',["setTeamOneName", "setTeamTwoName"])
  }
};
</script>
<style>

</style>
