<template>
    <div>
        <div>Team 1 Name: {{ team1.name }}</div>
        <div>Team 2 Name: {{ team2.name }}</div>
    </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: 'game-view',
  computed: {
      ...mapState('Counter',['team1', 'team2'])
  }
}
</script>
<style>

</style>