<template>
  <div id="app">
    <div class="bar"></div>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'my-project'
  }
</script>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  .bar {
    width: 100%;
    height: 40px;
    background: black;
    -webkit-app-region: drag;
  }
</style>
